<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - BahPolo</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/dashboard/nav.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>
<body>
    <header class="nav--lateral">
        <div class="nav--logo"></div>
        <nav class="nav--left">
            <ul class="nav--lef__top">
                <li class="nav--item">
                    <a href="#">
                        <i class="bi bi-house-door-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav--item">
                    <a href="#">
                        <i class="bi bi-house-door-fill"></i>
                        <span>Statistiques</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>