.body-container {
    position: relative;
    top: 0;
    left: 320px;
    width: calc(100% - 320px);
    padding: 20px;
    overflow: hidden;
    display: flex;
    gap: 30px;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
}
.body-collumn {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 30px;
}
.body-row {
    overflow: hidden;
    box-sizing: border-box;
    height: 50%;
}
.table-container {
    position: relative;
    background: rgb(130, 15, 104, 0.1);
    border-radius: 10px;
    height: 100%;
}
.table-header {
    display: flex;
    flex-direction: column;
    background: rgb(130, 15, 104, 0.1);
    padding: 10px 20px;
    border-radius: 10px;
}
.table-header-top {
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.table-header-bottom {
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    width: 100%;
    gap: 10px;
}
.table-body {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px;
}
.table-body-row {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 100%;
    gap: 10px;
}
span.table-item {
    flex: auto;
    text-align: center;
    text-wrap: nowrap;
}
.item-statut::before {
    content: '';
    display: block;
    position: relative;
    height: 25px;
    width: 50px;
    left: 50%;
    border-radius: 12.5px;
    transform: translateX(-50%);
    -webkit-border-radius: 12.5px;
    -moz-border-radius: 12.5px;
    -ms-border-radius: 12.5px;
    -o-border-radius: 12.5px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.item-statut.statut-online::before {
    background: #88db38;
}
.item-statut.statut-offline::before {
    background: #ff0000;
}


.box-container {
    position: relative;
    background: rgb(130, 15, 104, 0.1);
    border-radius: 10px;
    height: 100%;
}
.box-header {
    display: flex;
    flex-direction: column;
    background: rgb(130, 15, 104, 0.1);
    padding: 10px 20px;
    border-radius: 10px;
}
.box-header-top {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box-body {
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px;
}
.box-body pie-chart {
    height: 150px;
    width: 300px;
    margin: 15px 20px;
}
.box-body h4 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
}
.box-data {
    position: relative;
    margin-top: 40px;
}

.box-body_canva {
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    box-sizing: border-box;
}

.btn-canva-list {
    position: relative;
    margin-bottom: 10px;
}
.btn-canva-list button {
    position: relative;
    padding: 5px 10px;
    color: var(--white-color);
    font-size: 14px;
    border: 3px solid var(--purple-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: var(--blue-color);
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.btn-canva-list button.active {
    position: relative;
    padding: 5px 10px;
    color: var(--white-color);
    font-size: 14px;
    /* border: 3px solid var(--blue-color); */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: var(--purple-color);
    cursor: pointer;
}

.canva-list canvas {
    height: 0 !important;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
}
.canva-list canvas.active {
    height: inherit !important;
    opacity: 1;
}